*{
    margin:0px;
    font-size:24px;
}
.container{
  width:30%;
  height:auto;
  margin:2% 0 0 35%;
  padding:20px 20px;
    text-align:center;
    background:grey;
    border-radius:10px;
}
table{
    margin:auto;
}

button{
    width:80px;
    height:80px;
  border-radius:5px;
  
}
.block{
    width:100%;
}
input{
    height:100px;
    width:324px;
    border-radius:5px;
}
button:hover{
  background:blue;
  color:white;
}